.dashboard-main {
    // padding-top: .3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        text-align: center;
        font-size: 2.3rem;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #333;
    }
}


.dashboard-empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 20px;

    img {
        width: 350px;
        height: auto;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        color: #333;
        text-align: center;
        max-width: 350px;
        line-height: 1.2;
        margin: 0 auto;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        color: #333;
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
    }

    button {
        width: 70%;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #db1896;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        border-width: 1px;
        align-items: center;
        text-align: center;
        border: none;
        margin-top: 1.3rem;

        &:hover {
          background-color: #ab0772;
        }
    }
}


.dashboard-onboarding-card-section {
  margin-top: 1.4rem;
  
  .dashboard-onboarding-card__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .dashboard-onboarding-card {
      width: 320px;
      background-color: #e2dff5;
      border-radius: 30px;
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 140px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 10px;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
      }

      button {
        width: 100%;
        padding: 8px 14px;
        border-radius: 30px;
        background-color: transparent;
        color: #333;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        border: 1px solid #ccc;
        align-items: center;
        text-align: center;
        margin-top: 1.3rem;
      }
    }
  }
}