.features-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }
}

.features-card__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    svg {
        width: 25px;
        height: 25px;
        color: #000000;
    }

    h3 {
        font-size: 1rem;
        font-weight: 400;
        color: #000000;
        margin-left: 10px;
    }
}

.features-card__content {
    width: 100%;
    color: rgba(23, 22, 22, 0.7);
    font-size: 0.97rem;
    font-weight: 400;
}